section#book-now
    .book-now.mobile
        .wrapper
            .book-now-wrapper
                span.title Забронируйте тур
                    br
                    | прямо сейчас!
                .cards-wrapper__scroll
                    .cards-wrapper
                        .card-wrapper
                            .card-info
                                span.card-bold Виктория 
                                    br 
                                    | Петрова
                            p.card-p Наши капитаны много лет путешествуют по маршрутам Ладожских шхер. Они знают где  самые красивые пейзажи и удобно высадиться для прогулки по острову.
                        .card-wrapper
                            .card-info
                                span.card-bold Виктория 
                                    br 
                                    | Петрова
                            p.card-p Наши капитаны много лет путешествуют по маршрутам Ладожских шхер. Они знают где  самые красивые пейзажи и удобно высадиться для прогулки по острову.
                        .card-wrapper
                            .card-info
                                span.card-bold Виктория 
                                    br 
                                    | Петрова
                            p.card-p Наши капитаны много лет путешествуют по маршрутам Ладожских шхер. Они знают где  самые красивые пейзажи и удобно высадиться для прогулки по острову.Наши капитаны много лет путешествуют по маршрутам Ладожских шхер. Они знают где  самые красивые пейзажи и удобно высадиться для прогулки по острову.
                
                .form-book-now-wrapper
                    form.__form_book-now(action="post")
                        input(type="text" placeholder="ФИО")
                        input(type="tel" placeholder="Телефон")
                        input(type="number" placeholder="Кол-во гостей")
                        input#book-now-date(type='date' placeholder="Желаемая дата")
                .form__btn
                    a.btn(href="book") Забронировать поездку
                    span Согласие на обработку 
                        span.link персональных данных