section#explore
    .explore-wrapper
        span.title Исследуй острова и узнай их историю
        .explore-card-wrapper
            .explore-img
                img(src="./img/explore-img__1.jpg", alt="")
            .explore-card-text
                .tags-wrapper
                    span.tag Скалы
                    span.tag Проливы
                    span.tag Природа
                .explore-card__text-wrapper    
                    span.big.bold Основной Архипелаг
                    p Ладожские шхеры насчитывают около 660 островов. Каждый остров по своем уникален и красив. Отвесные скалы, нетронутая природа, места силы – это то, что заставит вас по другому взглянуть на необъятный мир Карелии.
        .explore-card-wrapper.card-reverse
            .explore-img
                img(src="./img/explore-img__2.jpg", alt="")
            .explore-card-text
                .tags-wrapper
                    span.tag Скиты
                    span.tag Храмы
                    span.tag Святое место
                .explore-card__text-wrapper    
                    span.big.bold Остров Валаам
                    p Самое святое место на севере Ладожского озера. Удивительная интеграция архитектуры в карельскую природу заставляет застыть в созерцании прекрасного. Храмы, скиты и многое другое ждёт вас на этом острове!  