section#feedback
    .feedback.mobile 
        .feedback-wrapper
            span.title Отзывы
        .cards-wrapper__scroll
            .cards-wrapper
                .card-wrapper
                    .card-info
                        .card-img
                            img(src="./img/card-img__1.jpg", alt="")
                        span.card-bold Виктория 
                            br 
                            | Петрова
                    p.card-p Наши капитаны много лет путешествуют по маршрутам Ладожских шхер. Они знают где  самые красивые пейзажи и удобно высадиться для прогулки по острову.
                .card-wrapper
                    .card-info
                        .card-img
                            img(src="./img/card-img__1.jpg", alt="")
                        span.card-bold Виктория 
                            br 
                            | Петрова
                    p.card-p Наши капитаны много лет путешествуют по маршрутам Ладожских шхер. Они знают где  самые красивые пейзажи и удобно высадиться для прогулки по острову.
                .card-wrapper
                    .card-info
                        .card-img
                            img(src="./img/card-img__1.jpg", alt="")
                        span.card-bold Виктория 
                            br 
                            | Петрова
                    p.card-p Наши капитаны много лет путешествуют по маршрутам Ладожских шхер. Они знают где  самые красивые пейзажи и удобно высадиться для прогулки по острову.Наши капитаны много лет путешествуют по маршрутам Ладожских шхер. Они знают где  самые красивые пейзажи и удобно высадиться для прогулки по острову.
        a.link(href="feedback") Оставить отзыв