footer
    .footer
        .footer__logo
            .img
                img(src="./img/logo.svg", alt="")
            span.medium.desktop 2023 LADOGA SKER
        .footer__info
            span.big.desktop
                a(href="tel:+7 (999) 234-56-71") +7 (999) 234-56-71
            span.medium Республика Карелия, г,Сортавала
            span.big.mobile
                a(href="tel:+7 (999) 234-56-71") +7 (999) 234-56-71
            .footer__maps
                .logo__map#google
                    a(href="https://www.google.com/")
                .logo__map#ya
                    a(href="https://www.ya.ru/")
            span.medium.mobile 2023 LADOGA SKER
            span.link.desktop
                 a(href="https://www.futbin.com/").nav-link Политика конфеденциальности
                

            

