header 
    .header
        .header-wrapper
            .logo
                a(href="https://www.futbin.com/") 
            .menu-nav
                nav
                    ul.nav
                            li.nav-item
                                a(href="https://www.futbin.com/").nav-link Ladoga sker
                            li.nav-item
                                a(href="https://www.futbin.com/").nav-link Об островах
                            li.nav-item
                                a(href="https://www.futbin.com/").nav-link Маршруты
                            li.nav-item
                                a(href="https://www.futbin.com/").nav-link Наши катера
                            li.nav-item 
                                a(href="https://www.futbin.com/").nav-link Контакты
                            li.nav-item 
                                a.btn(href="book") Забронировать поездку
                            li.nav-item 
                                span Республика Карелия, г,Сортавала
                            li.nav-item 
                                span
                                    a(href="tel:+7 (999) 234-56-71") +7 (999) 234-56-71
            .menu__btn#nav-icon2
                span
                span
                span