header 
    .header
        .header-wrapper
            .logo
                a(href="https://www.futbin.com/") 
            .menu-nav
                nav
                    ul.nav
                            li.nav-item
                                a(href="https://www.futbin.com/").nav-link Ladoga sker
                            li.nav-item
                                a(href="https://www.futbin.com/").nav-link Об островах
                            li.nav-item
                                a(href="https://www.futbin.com/").nav-link Маршруты
                            li.nav-item
                                a(href="https://www.futbin.com/").nav-link Наши катера
                            li.nav-item 
                                a(href="https://www.futbin.com/").nav-link Контакты
                .menu-nav-wrapper
                    a.btn(href="book") Забронировать поездку
                    .menu-nav-wrapper-info
                        span Республика Карелия, г.Сортавала
                        span.big
                            a(href="tel:+7 (999) 234-56-71") +7 (999) 234-56-71
            .menu__btn#nav-icon2
                span
                span
                span