section#hero
    .hero
        .wrapper
            span.orange Республика Карелия, г. Сортавала
            h1 Путешествие 
                span.circle на катере 
                | по 
                span.wavy Ладожским шхерам
                span.arrow и на остров Валаам
            a.btn(href="book") Забронировать поездку
            .img
                img(src="./img/hero-img.svg", width="100%")