section#motorboats
    .mb-wrapper
        span.title Наши катера
        p Отправляясь в путешествие, важно  чтобы оно проходило с комфортом и вы не отвлекались от окружающей вас красоты. Наши катера подготовленны специально для путешествий которыми вы останетесь довольны.
        .img
            img(src="./img/motorboats-img.jpg", alt="")
        .mb-list
            .mb-list__card
                .mb-list__card-arrow.desktop
                .mb-list__card-icon
                    .icon-icon-people
                .mb-list__card-text
                    span.bold ВМЕЩАЮТ 8 ЧЕЛОВЕК
                    p Наши катера оборудованы комфортными сидениями для комфортной поездки по Ладожским шхерам. Всем пассажирам выдаются спасательные жилеты.
            .mb-list__card
                .mb-list__card-arrow.desktop
                .mb-list__card-icon
                    .icon-icon-motor
                .mb-list__card-text
                    span.bold КАЧЕСТВЕННЫЕ МОТОРЫ
                    p Мы установили новые моторы на наши катера, что обеспечивает плавный ход и комфорт передвижения на протяжении всей поездки.
            .mb-list__card
                .mb-list__card-arrow.desktop
                .mb-list__card-icon
                    .icon-icon-waves
                .mb-list__card-text
                    span.bold ОПЫТНЫЕ КАПИТАНЫ 
                    p Все капитаны имеют большой опыт в путешествиях по Ладожскому озеру. Знают правила водной навигации и какие маршруты самые запоминающиеся.

            .mb-list__card
                .mb-list__card-arrow.desktop
                .mb-list__card-icon
                    .icon-icon-stamp
                .mb-list__card-text
                    span.bold ПРОЙДЕНО ТО И ПОСТАВЛЕНЫ НА УЧЕТ
                    p Наши катера всегда проходят полное ТО перед туристическим сезоном. Все деятельность осуществляется законно и судна стоят на учете.

    
