section#photo
    .photo
        .photo__gallery
            .swiper.photo-swiper
                .swiper-wrapper
                    .swiper-slide
                        .img
                            img(src="./img/photo-gallery__1.jpg", alt="")
                    .swiper-slide
                        .img
                            img(src="./img/photo-gallery__2.jpg", alt="")
                    .swiper-slide
                        .img
                            img(src="./img/photo-gallery__3.jpg", alt="")
                    .swiper-slide
                        .img 
                            img(src="./img/photo-gallery__4.jpg", alt="")
                .swiper-scrollbar.desktop
        .photo__info
            span.title Путешествие, которое нужно запечатлеть на фотографиях
            p Совершая прогулку по Ладожским шхерам, невозможно не достать камеру. Всю красоту вокруг хочется запечатлеть в памяти, чтобы вспоминать этот момент и в будущем повторить поездку для единения с природой и получения заряда энергии.
            .photo-label
                .icon-icon-camera
                .photo-label__text
                    span Советуем зарядить телефон и приготовить камеру!

