section#tours
    .tours
        .tours-wrapper
            span.big 
                span.bold Ladoga Sker 
                |– это туры по акватории Ладоги с уникальной подачей.
            .tours-text
                p Ладожские шхеры — уникальный заповедник в карелии. Каменистые острова с отвесными скалами, флора и фауна прямиком из книг скандинавских писателей. Отправляйтесь с нами в путешествие и погрузитесь в мир карельской сказки.
                a.link(href="traces") Наши туры
        .cards-wrapper__scroll
            .cards-wrapper
                .card-wrapper
                    .card-img
                        img(src="./img/card-img__1.jpg", alt="")
                    span.card-span Интересно
                    span.card-bold Знаем все острова и маршруты
                    p.card-p Наши капитаны много лет путешествуют по маршрутам Ладожских шхер. Они знают где  самые красивые пейзажи и удобно высадиться для прогулки по острову.
                .card-wrapper
                    .card-img
                        img(src="./img/card-img__2.jpg", alt="")
                    span.card-span Безопасно
                    span.card-bold Новые и комфортные катера
                    p.card-p Туры осуществляются на комфорт плюс катерах. Все катера оснащены спасательными жилетами, произведено техническое обслуживание перед спуском на воду.
                .card-wrapper
                    .card-img
                        img(src="./img/card-img__3.jpg", alt="")
                    span.card-span Удобно
                    span.card-bold Удобная посадка и высадка
                    p.card-p Посадка производится на городской пристани в Сортавала, но по договоренности возможна и посадка в удобной для вас точке, где протекает Ладожское озеро.