- var pageTitle = 'ladoga-sker'

doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(name="description" content="Завод Завод Завод" )
        title=pageTitle
        meta(name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5")
    body
        include modules/header

        include modules/hero
        include modules/tours
        include modules/explore
        include modules/photo
        include modules/feedback
        include modules/motorboats
        include modules/book-now


        include modules/footer